<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <header>
    <h1>Matthew's Music App</h1>
    <% if logged_in? %>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Log Out</button>
      </form>
    <% else %>
      <form action="<%= new_session_url %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button>Log In</button>
      </form>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
